.nav{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10rem;
}


.foto_perfil img{
    width: 20%;
    border: 0.5rem rgb(0, 0, 255) solid;
}

.perfil{
    display: flex;
    flex-direction:column;
    justify-content:center;
}